.wrapper
  .reg
    .reg__header
      .reg__logo
        img(src="./img/logo.svg" alt="favbet logo")
      .reg__when
        .reg__date 23.03
        .reg__time 21:45
      .reg__event
        span.reg__team Україна
        img(src="./img/vs.svg" alt="vs").reg__vs
        span.reg__team Бельгія
    .reg__players
      picture
        source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/players.png")
        source(media="(max-width: 1024px)" srcset="img/players-512.png")
        source(media="(max-width: 1280px)" srcset="img/players-640.png")
        source(media="(max-width: 1440px)" srcset="img/players-720.png")
        source(media="(min-width: 1441px)" srcset="img/players-960.png")
        img(src="img/players-640.png" alt="favbet players")

    //- .reg__shadow
    .reg__footer.footer
      .footer__bonus
        p.footer__top БОНУС*
        .footer__mid 
          p.footer__before до
          p 15 000₴
        p.footer__bot +300 FS
      .footer__text
        | * Під бонусом розуміється можливість отримати приз в рамках акції 
        | «Вітальний бонус». Період дії акції з 01.09.2024 по 31.12.2025 року. 
        | Бонус доступний тільки для нових клієнтів. Деталі на сайті favbet.ua.
